/* style.css */

/* Styles pour le bouton de génération de VCARD */
.generate-vcard-btn {
    background-color: #0073aa;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
}

.generate-vcard-btn:hover {
    background-color: #005580;
}

/* Styles pour le champ de saisie de l'URL de la carte */
#url_de_carte {
   
    display: none;
}
